* {
  margin: 0;
  padding: 0;
  /* border: 1px dotted rebeccapurple; */
}

body {
  background-color: blacK;
  color: white;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.my_row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.my_column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  margin: 50px 0;
  font-weight: bold;
}

section:before {
  height: 54px;
  content: "";
  display: block;
}

/* NAVBAR */
.navbar {
  z-index: 1;
  background: black !important;
  height: 7vh !important;
  position: fixed !important;
  width: 100vw;
  border-bottom: 1px solid #0DCAF0;
}

.backTransparent {
  background: transparent !important;
  border-bottom: 1px solid transparent;
}

.navbar img {
  height: 45px;
  width: 45px;
  margin: 2 8px;
}

/* CARUSEL */
.carousel {
  top: -7vh;
}

.carousel img {
  height: 100vh;
  width: 100vw;
}

/* QUIENES SOMOS */
.quienes_somos i {
  width: 100%;
  text-align: center;
  background: #0DCAF0;
  padding: 10px 0;
  order: 1;
}

/* DESTACADOS */
.card {
  background: #0DCAF0;
  border: 1px solid white;
}

.card img {
  height: 200px;
}

/* CONTACTO */
.contact form {
  width: 100%;
  align-items: flex-start;
  margin: 20px 0 60px 0;
}

.contact input {
  width: 100%;
  padding: 5px 20px;
  margin: 15px 0 25px 0;
}

.contact textarea {
  width: 100%;
  min-height: 200px;
  padding: 10px 20px;
  margin: 15px 0 25px 0;
}

.contact button {
  background: #0DCAF0;
  color: white;
}

/* FOOTER */
footer {
  min-height: 350px;
  background: #0DCAF0;
  color: white;
}

footer .container {
  max-width: 980px;
  padding-bottom: 60px;
}

footer i {
  font-size: 53px;
  margin: 0 20px;
}



/* MODAL */
.my_modal {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
}

.close_modal {
  position: absolute;
  top: 170px;
  left: 76vw;
  color: red;
  margin: 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 3px solid red;
  text-align: center;
  cursor: pointer;
}

.my_info h4 {
  font-family: 'Lobster', cursive;
  font-size: 40px;
}

.my_info {
  width: 60%;
  height: 50vh;
  background: white;
  border-radius: 20px;
  margin-bottom: 20vh;
}

.my_modal .my_info input {
  width: 40% !important;
  padding: 5px 20px;
}

.my_modal .my_info button {
  width: 150px !important;
  margin: 20px auto;
}

.hide {
  display: none;
}

/* MEDIA QUERIES */
@media (max-width: 480px) {

  /* NAVBAR */
  nav .container {
    width: 100vw;
    margin: 0;
    z-index: 5;
  }

  .show {
    position: absolute !important;
    left: 0;
    top: 7vh;
    width: 100vw;
    height: 100vh;
    background: black !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column;
    z-index: 500 !important;
  }

  .carousel-control-next {
    z-index: -1 !important;
  }

  .carousel-control-prev {
    z-index: -1 !important;
  }


  nav ul {
    margin: 0 auto;
    padding-bottom: 50vh;
  }

  nav li {
    margin: 0 auto;
  }

  /* CAROUSEL */
  .carousel img {
    width: 100%;
    height: auto;
  }

  /* QUIENES SOMOS */
  .quienes_somos .reorder {
    order: 2;
  }

  /* MODAL */
  .close_modal {
    top: 40px;
    left: 80vw;
  }

  .my_info {
    width: 85%;
    height: 70vh;
  }

  .my_modal .my_info input {
    width: 80% !important;
  }

  .my_modal .my_info button {
    width: 150px !important;
  }

  footer {
    min-height: 100vh;
  }

  footer i {
    font-size: 30px;
    margin: 0 6px;
  }

  footer .container {
    flex-direction: column;
    padding: 40px 0;
  }
}

@media (max-width: 960px) {
  .carousel img {
    width: 100%;
    height: auto;
  }

  .carousel-control-next {
    z-index: -1 !important;
  }

  .carousel-control-prev {
    z-index: -1 !important;
  }

  footer .container {
    flex-direction: column;
    padding: 0px 0;
  }
}

/* EFFECTS */
.tilt {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.tilt:hover {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.brighten {
  -webkit-filter: brightness(95%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.brighten:hover {
  -webkit-filter: brightness(115%);
}

.glow:hover {
  color: #ff4800 !important;
  text-shadow: 0 0 10px #ff4800, 0 0 40px #ff4800, 0 0 80px #ff4800;
  background: transparent;
}